n8n_workflow.json
{
    "nodes": [
        {
            "parameters": {
                "path": "site-follow-up",
                "responseMode": "responseNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                -400,
                400
            ],
            "id": "webhook-1",
            "name": "Webhook",
            "webhookId": "8c6fb6dc-08f1-411a-8dd6-615df82b5315"
        },
        {
            "parameters": {
                "jsCode": "// Extract photo_urls array from the webhook body\n// and create one item per URL so we can loop over them\nconst input = $input.first().json;\nconst photoUrls = input.photo_urls || [];\n\n// Store the original entry data for later use\nconst entryData = {\n  date: input.date || '',\n  name: input.name || '',\n  area_name: input.area_name || '',\n  extracted_text: input.extracted_text || '',\n  timestamp: input.timestamp || ''\n};\n\n// Return one item per photo URL\nreturn photoUrls.map((url, i) => ({\n  json: {\n    photo_url: url,\n    photo_index: i,\n    ...entryData\n  }\n}));"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -160,
                400
            ],
            "id": "split-urls",
            "name": "Split Photo URLs"
        },
        {
            "parameters": {
                "url": "={{ $json.photo_url }}",
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "file"
                        }
                    }
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                80,
                400
            ],
            "id": "download-img",
            "name": "Download Image"
        },
        {
            "parameters": {
                "name": "={{ $('Split Photo URLs').item.json.name }}_{{ $('Split Photo URLs').item.json.photo_index }}.jpg",
                "driveId": {
                    "__rl": true,
                    "value": "My Drive",
                    "mode": "list"
                },
                "folderId": {
                    "__rl": true,
                    "value": "root",
                    "mode": "list"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 3,
            "position": [
                320,
                400
            ],
            "id": "upload-drive",
            "name": "Upload to Google Drive",
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "L5AMJDUQhSbgLXr0",
                    "name": "Google Drive account"
                }
            }
        },
        {
            "parameters": {
                "aggregate": "aggregateAllItemData",
                "options": {}
            },
            "type": "n8n-nodes-base.aggregate",
            "typeVersion": 1,
            "position": [
                560,
                400
            ],
            "id": "aggregate-links",
            "name": "Aggregate Drive Links"
        },
        {
            "parameters": {
                "jsCode": "// Combine all Drive webViewLinks into a single comma-separated string\nconst items = $input.first().json.data || $input.all().map(i => i.json);\nconst allItems = Array.isArray(items) ? items : [items];\n\n// Get the webViewLinks from uploaded files\nconst links = allItems.map(item => item.webViewLink || item.webContentLink || '').filter(Boolean);\nconst photoUrlStr = links.join(', ');\n\n// Get entry data from the first split item\nconst firstItem = allItems[0] || {};\n\nreturn [{\n  json: {\n    date: firstItem.date || $('Split Photo URLs').first().json.date || '',\n    name: firstItem.name || $('Split Photo URLs').first().json.name || '',\n    area_name: firstItem.area_name || $('Split Photo URLs').first().json.area_name || '',\n    extracted_text: firstItem.extracted_text || $('Split Photo URLs').first().json.extracted_text || '',\n    timestamp: firstItem.timestamp || $('Split Photo URLs').first().json.timestamp || '',\n    photo_url: photoUrlStr\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                800,
                400
            ],
            "id": "build-row",
            "name": "Build Sheet Row"
        },
        {
            "parameters": {
                "operation": "append",
                "documentId": {
                    "__rl": true,
                    "value": "1iFa40u2rA6zEMQ0yexe4kHYtEiLVd57QdgkW0GcpcEE",
                    "mode": "list",
                    "cachedResultName": "Notion HOURLY Follow-up",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iFa40u2rA6zEMQ0yexe4kHYtEiLVd57QdgkW0GcpcEE/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "gid=0",
                    "mode": "list",
                    "cachedResultName": "Follow-up",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iFa40u2rA6zEMQ0yexe4kHYtEiLVd57QdgkW0GcpcEE/edit#gid=0"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "Date": "={{ $json.date }}",
                        "Name": "={{ $json.name }}",
                        "Location": "={{ $json.area_name }}",
                        "Photo URL": "={{ $json.photo_url }}",
                        "Extracted Text": "={{ $json.extracted_text }}",
                        "Time": "={{ $json.timestamp }}"
                    },
                    "matchingColumns": [],
                    "schema": [
                        {
                            "id": "Date",
                            "displayName": "Date",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Name",
                            "displayName": "Name",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Location",
                            "displayName": "Location",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Photo URL",
                            "displayName": "Photo URL",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Extracted Text",
                            "displayName": "Extracted Text",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Time",
                            "displayName": "Time",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": true
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.7,
            "position": [
                1040,
                400
            ],
            "id": "append-sheet",
            "name": "Append to Sheet",
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "PPeG3FoqB5jefTqC",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                1280,
                400
            ],
            "id": "respond-webhook",
            "name": "Respond to Webhook"
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Split Photo URLs",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Photo URLs": {
            "main": [
                [
                    {
                        "node": "Download Image",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Download Image": {
            "main": [
                [
                    {
                        "node": "Upload to Google Drive",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Upload to Google Drive": {
            "main": [
                [
                    {
                        "node": "Aggregate Drive Links",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Aggregate Drive Links": {
            "main": [
                [
                    {
                        "node": "Build Sheet Row",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Sheet Row": {
            "main": [
                [
                    {
                        "node": "Append to Sheet",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Append to Sheet": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "cadd39b5c67e7847d6555fb8618a6b96d7b0fc870578f72fdcd843423c9f0e43"
    }
}